body {
  font-family: arial, sans-serif;
  font-size: 13px;
}

ul {
  list-style: none;
  padding: 0px;
  line-height: 0px;
}

li {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 7px;
}

#navItems {
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

#navItems:hover {
  text-decoration-line: underline;
  opacity: 0.65;
}

.gApps {
  width: 25px;
  height: 25px;
  opacity: 0.75;
}

.gApps:hover {
  opacity: 1;
  background-color: #BBB;
  border-radius: 25px;
  padding: 3px;
}

.gAccount {
  border-radius: 20px;
}

.container {
  margin: 55px;
  text-align: center;
}

.navBar {
  /* text-align: right;
  padding: 5px 10px 0 0; */
  text-align: right;
  padding-top: 0px;
  padding-right: 8px;
}

.searchBox {
  font-size: 10px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  width: 600px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  outline: none;
}

.searchBox:hover {
  background-color: #EEE;
}

.input {
  text-align: left;
  width:90%;
  border: none;
  outline: none;
}

.input:hover {
  background-color: #EEE;
}

.searchIcon {
  float: left;
  height: 24px;
  width: 24px;
  margin-top: -3px;
}

.voiceSearch {
  float: right;
  height: 24px;
  width: 24px;
}

.buttons {
  padding: 10px;
  margin: 0 5px 10px 5px;
  background-color: #EEE;
  border: none;
  border-radius: 4px;
}

.buttons:hover {
  background-color: #DDD;
}

#buttonStyle {
  text-decoration: none;
  color: #000;
}

span {
  opacity: 0.75;
}

p a {
  text-decoration: none;
}

p a:hover {
  text-decoration-line: underline;
}

.lftFtr {
  float: left;
}

.rgtFtr {
  float: right;
}

footer {
  line-height: 0px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: solid 1px #e4e4e4;
}

footer ul a {
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

footer ul a:hover {
  text-decoration-line: underline;
}
